.main-wrapper {
    max-width: 1299px; /* Même largeur que ton accueil */
    margin: 0 auto;    /* Centre le bloc horizontalement */
    padding: 0 40px;   /* Ajoute une marge de sécurité interne */
    min-height: 80vh; /* Signifie : fait au moins 80% de la hauteur de l'écran */
}

/* On applique ce fond gris à toute la page */
body {
    background-color: #DBDBDB; 
    margin: 0;
    padding: 0;
}
.contact-header {
    padding: 40px 0;
    background-color: #DBDBDB; /* Fond clair comme le reste du site */
}

/* Alignement du header (Logo à gauche, liens à droite) */
.navbar-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #DBDBDB; /* Ton gris habituel */
}

/* Taille de ton logo PNG */
.nav-logo-img {
    height: 70px; /* Ajuste cette valeur si tu veux le logo plus gros ou plus petit */
    width: auto;
    display: block;
}

/* Espacement entre les boutons de droite */
.nav-links {
    display: flex;
    gap: 15px;
}

/* Style des boutons normaux (Contour prune) */
.navbar-contact .btn {
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
    color: #000;
    padding: 10px 25px;
    border: 1.5px solid #4D3053;
    border-radius: 12px;
    background: transparent;
    transition: all 0.3s ease;
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
                color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                transform 0.2s ease;
}

/* LE BOUTON CONTACT VIOLET (Grâce à la classe active) */
.navbar-contact .btn.active {
    background-color: #4D3053 !important;
    color: #FFFFFF !important;
    border: none;
}

.navbar-contact .btn:hover:not(.active) {
    background-color: rgba(77, 48, 83, 0.1); /* Un voile léger au survol */
    transform: translateY(-2px);
    }


.nav-links {
    display: flex;
    gap: 15px;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.filter-btn {
    background: transparent;
    border: 1.5px solid #4D3053; /* Contour prune fin */
    color: #000;
    padding: 10px 45px; /* Très allongé */
    border-radius: 50px; /* Bords totalement arrondis */
    font-family: 'DM Serif Display', serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* État actif : quand on clique */
.filter-btn.active {
    background-color: #4D3053;
    color: #FFFFFF;
    border-color: #4D3053;
}

/* Petit effet au survol pour le confort */
.filter-btn:hover:not(.active) {
    background-color: rgba(77, 48, 83, 0.1);
}


/* STYLE DE BASE DES PROJETS (S'applique à TOUS les projets automatiquement) */

/* --- LA GRILLE À 4 COLONNES --- */
.projects-grid {
    display: grid;
    /* On définit 4 colonnes égales */
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px; /* Un peu moins d'espace pour gagner de la place */
    margin-bottom: 100px; /* Espace avant le footer */
}

/* --- TAILLES ADAPTÉES POUR 4 PAR LIGNE --- */
.project-box {
    width: 290px; /* Réduit de 346px à 290px pour tenir à 4 */
    height: 260px; /* On réduit un peu la hauteur pour garder l'équilibre */
    border-radius: 22px;
    box-shadow: 0 4px 10px rgba(111, 87, 116, 0.3);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #DBDBDB; /* Fond de secours */
}

/* --- AJUSTEMENT DES TAGS (Violets) --- */
.project-tag {
    position: absolute;
    top: 12px; /* Réduit de 15px */
    height: 28px; /* Réduit de 33px */
    background: #6F5774;
    border-radius: 51px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
    /* Typographie */
    color: #FFF;
    font-family: "DM Serif Display", serif;
    font-size: 12px; /* Réduit de 14px */
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    z-index: 10;
}

/* Tag Universitaire (Gauche) */
.tag-uni {
    left: 12px; /* Aligné avec le top */
    width: 95px; /* Réduit de 113px */
}

/* Tag 2025 (Droite) */
.tag-year {
    right: 12px; /* Aligné avec le top */
    width: 55px; /* Réduit de 63px */
}
/* LES IMAGES (Tu rajoutes juste une ligne par projet) */
.img-ker-armor { background: url('../IMAGE/UIUXdesign/KerArmor.png') -75px -0.2px / 130% 100% no-repeat; }
.img-lady2 { background: url('../IMAGE/design-graphique/Lady2.png') -0.2px 0.1px / 158% 259% no-repeat; }
.img-tomie { background: url('../IMAGE/UIUXdesign/tomie.jpeg') -100px -123px / 158% 259% no-repeat; }
.img-302 { background: url('../IMAGE/UIUXdesign/302.png') -70.621px -0.221px / 140.998% 114.914% no-repeat; }
.img-copwear { 
    /* On centre l'image et on lui dit de tenir entière dans le cadre */
    background: url('../IMAGE/design-graphique/copwear.png') no-repeat center;
    background-size: cover; 
}
.img-mirror {background: url('../IMAGE/photographie/_imageR.jpg');
    background-size: cover; 
    
    /* 3. On la centre */
    background-position: center;
    
    /* 4. Pas de répétition */
    background-repeat: no-repeat no-repeat;

} 

.img-causette {background: url('../IMAGE/design-graphique/causette1.png');
    background-size: cover; 
    
    /* 3. On la centre */
    background-position: center;
    
    /* 4. Pas de répétition */
    background-repeat: no-repeat no-repeat;

} 


.img-bullysoul { 
    background: url('../IMAGE/design-graphique/logo-bullysoul.png') no-repeat center;
    background-size: cover; 

} 




/* Style pour l'alignement Titre à gauche / Tags à droite */
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

/* Style des tags du HAUT (en face du titre) */
.display-tags .project-tag {
    position: static; /* Important : on ne veut pas d'absolute ici */
    display: inline-flex;
    padding: 8px 20px;
    background: #6F5774;
    color: white;
    padding: 6px 18px;
    border-radius: 51px;
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
    margin-left: 10px; /* Espace entre les deux tags */
    display: inline-flex;
}

/* On ne touche pas à ton CSS .project-box .project-tag { position: absolute; ... } 
   pour que les tags des petites cartes restent bien en haut à gauche et à droite. */


/* STYLE DE LA PAGE PROJETS */

   .detail-main {
    display: flex;
    flex-direction: row !important;
    gap: 50px;
    align-items: flex-start;
    margin-top: 40px;
    padding-bottom: 50px;
}

#detail-img-grande {
    width: 45%;
    border-radius: 0px;
    flex-direction: column;
    gap: 80px;
}

.project-images-col {
    /* On passe à 60% ou 65% pour que l'image soit vraiment grande */
    flex: 0 0 43%; 
    display: flex;
    flex-direction: column;
    /* C'est ce gap qui gère l'espace entre tes images empilées */
    gap: 40px;
    order: unset !important;
}

.project-images-col img {
    width: 100%;           /* Prend toute la largeur de sa colonne */
    height: auto;          /* Garde l'homothétie (ne déforme pas) */
    display: block;
    border-radius: 0;      /* Bords carrés comme sur ta maquette */
    padding-bottom: 50px;
}
.project-header, #display-desc, .project-specs {
    order: unset !important; /* On annule l'ordre du mobile */
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#display-desc {
    margin-top: 20px;
    white-space: pre-line; /* Permet de respecter les sauts de ligne du JS */
    /* INTERLIGNAGE */
    line-height: 1.7; 
    
    /* JUSTIFICATION */
    text-align: justify;
    font-size: 1.1rem;
}



#display-desc br {
    display: block;
    content: "";
    margin-top: 10px; /* Ajuste cette valeur pour plus ou moins d'espace */
}

#detail-galerie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}


/* Conteneur global des specs (compétence et outils) en fin de texte */
.project-specs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-section {
    display: flex;
    align-items: center; /* Aligne le texte "Compétence :" et les badges */
    gap: px;
    flex-wrap: wrap;
}

/* Texte "Compétence :" et "Outils :" */
.info-label {
    font-family: "DM Serif Display", serif;
    font-size: 1.4rem;
    color: #000;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.badges-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* STYLE DES BADGES SELON TES MESURES */
.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 18px; /* Ajuste la largeur automatiquement au texte */
    min-width: 80px;   /* Ta mesure minimale */
    height: auto;
    
    border-radius: 51px;
    border: 1.5px solid #6F5774; /* Bordure prune épaisse */
    background: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    /* Typographie interne du badge */
    color: #000;
    font-family: "DM Serif Display", serif;
    font-size: 1.1rem; /* Taille de lecture confortable */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.detail-text {
    display: block !important;
    width: 50%;              /* Largeur de ta colonne de texte */
    position: -webkit-sticky; /* Pour Safari */
    position: sticky;        /* C'est la ligne magique qui bloque le texte */
    top: 50px;               /* Distance par rapport au haut de l'écran quand on scroll */
    height: fit-content;     /* Très important : le bloc s'arrête à la fin des badges */

}

.figma-wrapper {
    width: 100%;            /* Prend toute la largeur de la colonne d'images */
    margin-top: 20px;       /* Petit espace avec l'image du dessus */
    display: block;
}

.figma-wrapper iframe {
    display: block;
    max-width: 100%;        /* Ne dépasse jamais la colonne */
}

#detail-galerie {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Range les images tout seul */
    gap: 15px;
    margin-top: 30px;
    border-top: 1px solid #4D3053;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 80px;
  
  
}

.galerie-img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.galerie-img:hover {
    transform: scale(1.05);
}

/* La Lightbox (Fenêtre plein écran) */
#lightbox {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

#lightbox-img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.close-lightbox {
    position: absolute;
    top: 20px; right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}


/* Conteneur global Voir aussi */
.voir-aussi-container {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 100px; /* <--- L'espace pour ne pas coller au footer */
   
}

/* Style du titre */
.voir-aussi-titre {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem; /* On l'aligne sur la taille de ton footer */
    text-align: left; /* Aligné à droite comme sur ta capture */
    margin-bottom: 40px;
}




.footer {
    background-color: #4D3053;
    color: white;
    padding: 2rem 2rem 1rem 2rem;
    text-align: center;
    border-radius: 22px 22px 0 0;
}

.footer h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-weight: 400 !important;
    margin-top: 0;
    margin-bottom: 5px;

}

.btn-footer-contact {
    display: inline-block;
    background: rgba(255,255,255,0.2);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 2px;
    margin-bottom: 1rem;
    width: 240px;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.dot {
    width: 11px;
    height: 11px;
    border-radius: 51px;
    background: #6F5774;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 0 10px; /* Pour l'espace autour du point */
}
.footer-nav {
    margin-bottom: 2rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.4rem;
    margin: 0 2px;
}

.copyright {
    font-family: "Inria serif" ;
    font-size: 1rem;
}


/* État de base : invisible et un peu plus bas */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out; /* Vitesse de l'apparition */
}

/* État quand l'élément apparaît : visible et à sa place */
.reveal.show {
    opacity: 1;
    transform: translateY(0);
}





/* --- VERSION MOBILE (Tablettes et Téléphones) --- */
@media screen and (max-width: 900px) {

    /* 1. La grille de projets devient une colonne */
    .projects-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .project-card-link {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    .project-box {
        width: 90%;
        max-width: 350px;
        height: 280px;
        margin: 0 auto;
    }

    .filter-container {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    /* 2. MENU / NAVBAR MOBILE */
    .navbar-contact {
        display: flex; /* Active flexbox pour le header */
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px 10px 0px 10px !important; 
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Distribue les boutons sur toute la largeur */
        align-items: center;
        border: 1.5px solid #4D3053;
        border-radius: 50px;
        padding: 4px; /* Réduit le rembourrage interne pour gagner de la place */
        background-color: transparent;
        width: 95%; /* Augmente légèrement la largeur pour éviter le débordement */
        max-width: 400px;
        margin: 0 auto;
        overflow: hidden; /* Sécurité pour ne rien laisser dépasser */
    }

    .navbar-contact .btn {
        flex: 1; /* Force chaque bouton à prendre une part égale de la capsule */
        text-align: center;
        border: none !important;
        padding: 10px 5px; /* Réduit l'espace sur les côtés du texte */
        font-size: 0.85rem; /* Diminue la taille du texte pour que tout tienne */
        font-weight: 600;
        border-radius: 40px;
        white-space: nowrap; /* Empêche le texte de passer à la ligne */
    }

    /* 4. LE BOUTON ACTIF (Violet plein) */
    .navbar-contact .btn.active {
        background-color: #4D3053 !important;
        color: #FFFFFF !important;
    }
    .navbar-contact .btn.active {
        background-color: #4D3053 !important;
        color: #FFFFFF !important;
    }

    /* 3. DÉTAIL PROJET (C'est ici que ça bloquait sur PC) */
    
    /* On force la colonne UNIQUEMENT sur mobile */
    .detail-main {
        flex-direction: column !important;
    }

    /* L'astuce pour mélanger les textes et images */
    .detail-text {
        display: contents !important; 
    }

    /* --- ORDRE D'AFFICHAGE MOBILE --- */

    /* Ordre 1 : Titre et Tags */
    .project-header {
        order: 1 !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    /* Ordre 2 : Images */
    .project-images-col {
        order: 2 !important;
        width: 100%;
        margin-bottom: 30px;
        gap: 20px; /* Ajout pour espacer les images empilées */
    }
    
    .project-images-col img {
        padding-bottom: 0; /* Nettoyage */
    }

    /* Ordre 3 : Texte */
    #display-desc {
        order: 3 !important;
        width: 100%;
        text-align: justify;
        line-height: 1.7;
    }

    /* Ordre 4 : Badges */
    .project-specs {
        order: 4 !important;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    /* 5. Galerie */
    #detail-galerie {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Ajustement pour le mobile */

    .voir-aussi-container {
        padding-bottom: 60px;
        margin-top: 40px;
    }
    .voir-aussi-titre {
        font-size: 2.5rem;
        text-align: center;
    }
}/* <--- L'ACCOLADE FINALE EST ICI ! Elle ferme tout le bloc mobile. */

